.gridWrapper {
	margin: 20px 20px;
}

.grid-table {
	width: 100%;
	border-collapse: collapse;
}

.grid-table th,
.grid-table td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.grid-table th {
	background-color: #f4f4f4;
	font-weight: bold;
}
